.finish{
	background-color: rgb(34, 242, 172);
	color: #FF9A3C;
	text-decoration: line-through;
}

.unfinish{
	background-color: beige;
   	color: #2EB872;
}

.container {
	text-align: center;
	background-color: #f7f7f7;
	margin: 50px 20%;
	padding: 20px 0;
	height: 100%;
	border-radius: 5px;
}

.dialog {
	font-size: 20px;
}

.dialog div {
	overflow: hidden;
}



input[type="text"] {
    font-size: large;
}

input[type="button"] {
	font-size: 20px;
}

ul {
	text-align: left;
	margin: 20px 5%;
	border-radius: 5px;
	border: 1px #bbb solid;
	padding-inline-start: 0px;
}

ul li {
	list-style: none;
	line-height: 50px;
	border-bottom: 1px #bbb solid;
	padding: 0 20px;
}

ul li:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul li:hover>.delete-btn {
	display: block;
}

.time {
	float: right;
}

.delete-btn {
	color: #e70000;
	float: right;
	cursor: pointer;
	margin-left: 30px;
	margin-right: 30px;
}

.check-btn {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px #ccc solid;
	border-style: outset;
	border-radius: 5px;
	margin-right: 20px;
	cursor: pointer;
}

input[type="checkbox"] {
	border: 0;
	color: #fff;
	background-color: #A1EAFB;
}
